<!-- Search -->
<section id="search" class="alt">
  <form method="post" action="#">
    <input type="text" name="query" id="query" placeholder="Search" />
  </form>
</section>

<!-- Menu -->
<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about.md">About Me</a></li>
    <li><a href="/journal.md">My Journey</a></li>

    <li>
      <span class="opener">AI/ML Projects</span>
      <ul>
        <li><a href="#">Lorem Dolor</a></li>
        <li><a href="#">Ipsum Adipiscing</a></li>
      </ul>
    </li>

    <li>
      <span class="opener">Notes</span>
      <ul>
        <li><a href="#">Lorem Dolor</a></li>
        <li><a href="#">Tempus Magna</a></li>
      </ul>
    </li>

    <li>
      <span class="opener">Life Journal</span>
      <ul>
        <li><a href="#">Lorem Dolor</a></li>
        <li><a href="#">Ipsum Adipiscing</a></li>
      </ul>
    </li>

    <li>
      <span class="opener">Gallery</span>
      <ul>
        <li><a href="#">Lorem Dolor</a></li>
        <li><a href="#">Tempus Magna</a></li>
      </ul>
    </li>
  </ul>
</nav>

<!-- Pets -->
<section>
  <header class="major">
    <h2>My tiny friends</h2>
  </header>
  <div class="mini-posts">
    <article>
      <a href="#" class="image"><img src="/images/pets/ca1.jpg" alt="" /></a>
      <p>Cá</p>
    </article>
    <article>
      <a href="#" class="image"><img src="/images/pets/gin1.jpg" alt="" /></a>
      <p>Gin</p>
    </article>
    <article>
      <a href="#" class="image"><img src="/images/pets/rum1.jpg" alt="" /></a>
      <p>Rum</p>
    </article>
  </div>
</section>

<!-- Contact -->
<section>
  <header class="major">
    <h2>Get in touch</h2>
  </header>
  <p>If you’d like to connect or just say hello, feel free to reach out.</p>
  <ul class="contact">
    <li class="icon solid fa-envelope">
      <a href="mailto:dothihuongtrang@gmail.com">dothihuongtrang@gmail.com</a>
    </li>
  </ul>
</section>


